body,
html {
  width: 100%;
  height: 100%;
  font-family: "Reggae One", cursive;
  /* from css-tricks website */
  background: url(./header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fancyline {
  border-bottom: 5px solid #f05f44;
  border-radius: 5px;
  opacity: 1;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3rem;
  color: aliceblue;
}

.btn {
  border-radius: 300px;
  font-weight: 700;
}

.btn-outline-danger:hover {
  border-width: 4px;
}

.buffer {
  height: 8rem;
}
